<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1034988257710-gla4cqe1u2ctd8hfbumcbd6spg132jto.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034988257710-gla4cqe1u2ctd8hfbumcbd6spg132jto</string>
	<key>API_KEY</key>
	<string>AIzaSyCsrjJUtQI2oznsSt9VPLqS-RtiOSkm29o</string>
	<key>GCM_SENDER_ID</key>
	<string>1034988257710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alsain.tratoespecialmedico</string>
	<key>PROJECT_ID</key>
	<string>trato-especial-medicos-3b5cd</string>
	<key>STORAGE_BUCKET</key>
	<string>trato-especial-medicos-3b5cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034988257710:ios:f8a93c7b41bc45a1</string>
	<key>DATABASE_URL</key>
	<string>https://trato-especial-medicos-3b5cd.firebaseio.com</string>
</dict>
</plist>